@use '../../assets/styles/variables.scss' as v;
@import url('../../assets/styles/normalize.scss');

.Claims__container {
  height: fit-content;
  max-height: 870px;
  padding-top: 56px;
}

.Claims__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  margin: 0 56px 48px 64px;

}

.Claims__button {
  width: 174px;
  height: 48px;
}

.Claims__table {
  width: 100%;
  max-width: 1710px;
  height: 528px;
  margin: 0 58px 56px 56px;
  background-color: yellow;
}

.Claims__table-head {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 57px;
  border-bottom: solid 1px v.$color15;
  background-color: v.$color17;
}

