@use '../../assets/styles/variables.scss' as v;
@import url('../../assets/styles/normalize.scss');

.Claims__header {
  height: 48px + 48px;
  margin: 0 0 0 8px;

}

.Claims__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 174px;
  height: 48px;
}

.Claims__banner, .Claims__radio {
  height: 48px;
}

.Claims__banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Claims__radio {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Claims__radiobutton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
}

.Claims__table {
  width: 100%;
  max-width: 1710px;
  height: 536px;
  margin-bottom: 56px;
}

.Claims__table-head {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 57px;
  border-bottom: solid 1px v.$color15;
  background-color: v.$color17;
}

.Claims__row {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 48px;
  overflow: hidden;
  border-bottom: solid 1px v.$color15;
  background-color: v.$color3;
  &:hover {
    background-color: v.$color19;
  }
}

.Claims__tiles {
  display: none;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
  height: fit-content;
  margin-bottom: 28px;
}

@media (max-width: 799px) {
  .Claims__header {
    height: 48px + 24px;
  }
  
  .Claims__radio {
    display: none;
  }
  
  .Claims__table {
    display: none;
  }

  .Claims__tiles {
    display: flex;
  }

  .Claims__button {
    width: 48px;
  }
}