@use 'sass:math' as math;
@use '../../assets/styles/variables.scss' as v;
@use '../../assets/styles/mixins' as m;

@import url('../../assets/styles/normalize.scss');

%svg {
  width: 40px;
  height: 40px;
  fill: v.$color0;
  transition: v.$transition;
}

%svg_hover {
  stroke: v.$color8;
}

.Base__container {
  display: flex;
  border: solid 1px v.$color16;
}

.Base__aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 96px;
  height: 100%;
  padding-top: 32px;
  background: linear-gradient(180deg, v.$color14 0%, v.$color1 43.23%);
}

.Base__logo {
  width: 72.82px;
  height: 71.08px;
  margin-bottom: 47.92px;
}

.Base__section {
  width: 100%;
  height: 100%;
  background-color: v.$color3;
}

.Base__header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  border-bottom: solid 1px v.$color15;
  background-color: v.$color3;
}

.Base__burger {
  display: none;
}

.Base__header {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: v.$color0;
}

.Base__aside_svg {
  @extend %svg;
  margin-right: 20px;
  margin-bottom: 24px;
  cursor: pointer;
  stroke: v.$color3;
  &:hover {
    @extend %svg_hover;
  }
}

.Base__bell-off_svg {
  @extend %svg;
  margin-right: 20px;
  stroke: v.$color16;
}

.Base__user {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
}

.Base__full-name {
  @include m.text(v.$font1, 14px, 32px, v.$color16);
  margin-right: 23px;
}

.Base__quit_svg {
  @extend %svg;
  margin-right: 24px;
  cursor: pointer;
  stroke: v.$color16;
  &:hover {
    @extend %svg_hover;
  }
}



@media (max-width: 799px) {
  .Base__aside, .Base__full-name, .Base__quit {
    display: none;
  }

  .Base__header_wrapper {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 64px;
    border: none;
    background-color: v.$color1;
  }

  .Base__burger {
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    margin-left: 16px;
    &:hover {
      %burger-line {
        background-color: v.$color8;
      }
    }
  }

  %burger-line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: v.$color3;
    transition: v.$transition;
    &_cross {
      width: math.hypot(100, 100) * 1%;
      transform-origin: left center;
    }
  }
  
  .Base__burger-line1 {
    @extend %burger-line;
    top: 0;
    &_cross {
      @extend .Base__burger-line1;
      @extend %burger-line_cross;
      transform: rotate(45deg);
    }
  }
  
  .Base__burger-line2 {
    @extend %burger-line;
    top: 50%;
    transform: translateY(-50%);
    &_cross {
      display: none;
    }
  }
  
  .Base__burger-line3 {
    @extend %burger-line;
    bottom: 0;
    &_cross {
      @extend .Base__burger-line3;
      @extend %burger-line_cross;
      transform: rotate(-45deg);
    }
  }

  .Base__main {
    padding-top: 64px;
  }

  .Base__user {
    width: 48px;
    height: 48px;
    margin-right: 6px;
  }

  .Base__bell-off_svg {
    margin-right: 24px;
    stroke: v.$color3;
  }
}