@use 'sass:math' as math;
@use '../../assets/styles/variables.scss' as v;
@use '../../assets/styles/mixins' as m;

@import url('../../assets/styles/normalize.scss');

%svg {
  width: 40px;
  height: 40px;
  fill: v.$color0;
  transition: v.$transition;
}

%svg_hover {
  stroke: v.$color8;
}

.container {
  display: flex;
  border: solid 1px v.$color16;
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 96px;
  height: 100%;
  padding-top: 32px;
  background: linear-gradient(180deg, v.$color14 0%, v.$color1 43.23%);
}

.logo {
  width: 72.82px;
  height: 71.08px;
  margin-bottom: 47.92px;
}

.section {
  width: 100%;
  height: 100%;
  background-color: v.$color3;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  border-bottom: solid 1px v.$color15;
  background-color: v.$color3;
}

.burger {
  display: none;
}

.header {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: v.$color0;
}

.asideSvg {
  @extend %svg;
  margin-right: 20px;
  margin-bottom: 24px;
  cursor: pointer;
  stroke: v.$color3;
  &:hover {
    @extend %svg_hover;
  }
}

.bellOffSvg {
  @extend %svg;
  margin-right: 20px;
  stroke: v.$color16;
}

.user {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
}

.fullName {
  @include m.text(v.$font1, 14px, 32px, v.$color16);
  margin-right: 23px;
}

.fullNameUnauthenticated {
  @extend .fullName;
  color: v.$color8;
}

.quitSvg {
  @extend %svg;
  margin-right: 24px;
  cursor: pointer;
  stroke: v.$color16;
  &:hover {
    @extend %svg_hover;
  }
}

.button {
  margin-top: 16px;
}


@media (max-width: 799px) {
  .aside, .fullName, .quitSvg {
    display: none;
  }

  .headerWrapper {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 64px;
    border: none;
    background-color: v.$color1;
  }

  .burger {
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    margin-left: 16px;
    &:hover {
      %burger-line {
        background-color: v.$color8;
      }
    }
  }

  %burger-line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: v.$color3;
    transition: v.$transition;
    &_cross {
      width: math.hypot(100, 100) * 1%;
      transform-origin: left center;
    }
  }
  
  .burgerLine1 {
    @extend %burger-line;
    top: 0;
    &Cross {
      @extend .burgerLine1;
      @extend %burger-line_cross;
      transform: rotate(45deg);
    }
  }
  
  .burgerLine2 {
    @extend %burger-line;
    top: 50%;
    transform: translateY(-50%);
    &Cross {
      display: none;
    }
  }
  
  .burgerLine3 {
    @extend %burger-line;
    bottom: 0;
    &Cross {
      @extend .burgerLine3;
      @extend %burger-line_cross;
      transform: rotate(-45deg);
    }
  }

  .main {
    padding-top: 64px;
  }

  .user {
    width: 48px;
    height: 48px;
    margin-right: 6px;
  }

  .bellOffSvg {
    margin-right: 24px;
    stroke: v.$color3;
  }
}