@use '../../assets/styles/variables.scss' as v;
@use '../../assets/styles/mixins' as m;
@import url('../../assets/styles/normalize.scss');

.Base__container {
  display: flex;
  border: solid 1px v.$color16;
}

.Base__aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 96px;
  height: 100%;
  padding-top: 32px;
  background: linear-gradient(180deg, v.$color14 0%, v.$color1 43.23%);
}

.Base__logo {
  width: 72.82px;
  height: 71.08px;
  margin-bottom: 47.92px;
}

.Base__pic {
  width: 40px;
  height: 40px;
  margin-bottom: 24px;
}

.Base__section {
  width: 100%;
  height: 100%;
  background-color: v.$color3;
}

.Base__header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  border-bottom: solid 1px v.$color15;
  background-color: v.$color3;
}

.Base__burger {
  display: none;
  width: 24px;
  height: 24px;
  margin-left: 16px;
  background-color: red;
}

.Base__header {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: v.$color0;
}

.Base__bell {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.Base__user {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
}

.Base__full-name {
  @include m.text(v.$font1, 14px, 32px, v.$color16);
  margin-right: 23px;
}

.Base__quit {
  width: 40px;
  height: 40px;
  margin-right: 24px;
}

@media (max-width: 799px) {
  .Base__aside, .Base__full-name, .Base__quit {
    display: none;
  }

  .Base__burger {
    display: flex;
  }

  .Base__header_wrapper {
    height: 64px;
    background-color: v.$color1;
  }

  .Base__user {
    width: 48px;
    height: 48px;
    margin-right: 6px;
  }

  .Base__bell {
    margin-right: 24px;
  }
}