@import url('../../assets/styles/normalize.scss');

.Type__wrapper {
  display: flex;
  align-items: center;
}

.Type__mark {
  width: 16px;
  height: 16px;
  margin-right: 16px;
  border-radius: 50%;
}