@use '../../assets/styles/variables.scss' as v;

%modal {
  width: 100%;
  height: fit-content;
  margin: 0 20px;
  padding: 16px;
  border-radius: 16px;
  background-color: v.$color3;
}

.Reg__modal {
  @extend %modal;
  position: relative;
}

.Reg__modal1 {
  @extend %modal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.Reg__modal2 {
  @extend .Reg__modal1;
  position: relative;
}

.Reg__section {
  height: 103px;
  margin-bottom: 0px;
}

// .Reg__button {
//   position: absolute;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   top: -24px;
//   right: -24px;
//   width: 48px;
//   border-radius: 50%;
// }