@use '../../assets/styles/variables.scss' as v;

%modal {
  width: 100%;
  height: fit-content;
  margin: 0 20px;
  padding: 16px;
  border-radius: 16px;
  background-color: v.$color3;
}

.modal {
  @extend %modal;
  position: relative;
}

.modal1 {
  @extend %modal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.modal2 {
  @extend .modal1;
  position: relative;
}

.section {
  height: 103px;
  margin-bottom: 0px;
}
