@use '../../assets/styles/variables.scss' as v;
@use '../../assets/styles/mixins' as m;
@import url('../../assets/styles/normalize.scss');

.Search__input_wrapper {
  margin-right: 64px;
  margin-left: 16px;
}

.Search__input {
  @include m.text(v.$font1, 18px, 22px, v.$color7);
  width: 87%;
  &::placeholder {
    @include m.text(v.$font1, 18px, 22px, v.$color5);
  }
}

.Search__image {
  width: 40px;
  height: 40px;
}

@media (max-width: 799px) {
  .Search__input_wrapper {
    display: none;
  }
}