@use '../../assets/styles/variables.scss' as v;
@use '../../assets/styles/mixins' as m;
@import url('../../assets/styles/normalize.scss');

%svg {
  width: 40px;
  height: 40px;
  fill: v.$color0;
  transition: v.$transition;
}

%svg_hover {
  stroke: v.$color8;
}

.inputWrapper {
  width: 32.07%;
  margin-right: 64px;
  margin-left: 16px;
}

.input {
  @include m.text(v.$font1, 18px, 22px, v.$color7);
  width: 87%;
  &::placeholder {
    @include m.text(v.$font1, 18px, 22px, v.$color5);
  }
}

.crossSvg {
  width: 15px;
  height: 15px;
  margin-left: 16px;
  cursor: pointer;
  fill: v.$color16;
  transition: v.$transition;
  &:hover {
    fill: v.$color8;
  }
}

.loupeSvg {
  @extend %svg;
  cursor: pointer;
  stroke: v.$color16;
  &:hover {
    @extend %svg_hover;
  }
}



@media (max-width: 799px) {
  .inputWrapper {
    display: none;
  }
}