@use '../../assets/styles/variables.scss' as v;
@use '../../assets/styles/mixins' as m;
@import url('../../assets/styles/normalize.scss');

.label {
  display: inline-block;
  margin-bottom: 8px;
}

.inputWrapper {
  margin-bottom: 0px;
}

.focused {
  border: solid 1px v.$color1;
}

.error {
  border: solid 1px v.$color18;
}

.input {
  @include m.text(v.$font1, 18px, 22px, v.$color7);
  
  &::placeholder {
    @include m.text(v.$font1, 18px, 22px, v.$color7);
  }
}

.iconSvg {
  width: 40px;
  height: 40px;
  fill: v.$color0;
  stroke: v.$color5;
}
