@use '../../assets/styles/variables.scss' as v;
@import url('../../assets/styles/normalize.scss');

.form {
  width: 466px;
  height: fit-content;
}

.inputText1Wrapper {
  height: 103px;
}

.checkboxWrapper {
  display: flex;
  align-items: center;
  height: 20px;
  margin-bottom: 35px;
}

.checkbox {
  width: 19px;
  height: 20px;
  margin-left: 11px;
  margin-right: 10px;
}

@media (max-width: 498px) {
  .form {
    width: 100%;
    padding: 0 16px;
  }
}

