$color0: transparent;
$color1:  #7DB59A;
$color2:  #D3EDE1;
$color3:  #FFFFFF;
$color4:  #F0F0F0;
$color5:  #ADADAD;
$color6:  #2F80ED;
$color7:  #2D3436;
$color8:  #E84393;
$color9:  #B03671;
$color10: #832552;
$color11: #5B9479;
$color12: #4F896C;
$color13: #858585;
$color14: #D5EEE2;
$color15: #C2C2C2;
$color16: #000000;
$color17: #F1F1F1;
$color18: #CC1F1F;
$color19: #E1F3EA;
$color20: #148BFF;

$font1: 'Inter400', sans-serif;
$font2: 'Inter700', sans-serif;
$font3: 'Inter800', sans-serif;
$font4: 'Inter500', sans-serif;

$transition: .5s;