@use './variables.scss' as v;
@use './mixins' as m;
@import url('./fonts.scss');
@import url('./normalize.scss');
@import url('./animation.scss');



.text1 {
  @include m.text(v.$font3, 12px, 15px, v.$color5, 2px);
  cursor: default;
}

.text2 {
  @include m.text(v.$font1, 14px, 17px, v.$color7);
  cursor: default;
}

.text3 {
  @include m.text(v.$font1, 18px, 22px, v.$color7);
  cursor: default;
}

.text3-link {
  @extend .text3;
  width: fit-content;
  border-bottom: solid 1px v.$color20;
  color: v.$color20;
}

.text4 {
  @include m.text(v.$font2, 36px, 43.57px, v.$color16);
  cursor: default;
}

.text5 {
  @include m.text(v.$font1, 16px, 20px, v.$color7);
  cursor: default;
}

.text6 {
  @include m.text(v.$font3, 12px, 14.52px, v.$color3, 2.5px);
  cursor: default;
}

.text7 {
  @include m.text(v.$font4, 18px, 22px, v.$color7);
  cursor: default;
}

.text8 {
  @include m.text(v.$font1, 18px, 32px, v.$color18);
  cursor: default;
}

%button {
  width: 82px;
  height: 48px;
  border-radius: 16px;
  cursor: pointer;
  transition: v.$transition;
}

.button1 {
  @extend %button;
  @include m.text(v.$font2, 18px, 36px, v.$color3);
  background-color: v.$color8;
  &:hover {
    background-color: v.$color9;
  };
  &:active {
    background-color: v.$color10;
  }
}

.button2 {
  @extend %button;
  @include m.text(v.$font2, 18px, 36px, v.$color3);
  background-color: v.$color1;
  &:hover {
    background-color: v.$color11;
  };
  &:active {
    background-color: v.$color12;
  }
}

.button3 {
  @extend %button;
  @include m.text(v.$font2, 18px, 36px, v.$color13);
  background-color: v.$color0;
  border: solid 1px v.$color5;
  &:hover {
    color: v.$color1;
    border-color: v.$color1;
  };
  &:active {
    color: v.$color12;
    border-color: v.$color12;
  }
}

.button4 {
  @extend .button2;
  width: fit-content;
  padding: 8px 16px;
}

.close-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -24px;
  right: -24px;
  width: 48px;
  border-radius: 50%;
}

.xbutton1 {
  width: 100%;
  height: 52px;
  margin-bottom: 16px;
}

.container1 {
  width: 100%;
  max-width: 1920px;
  height: 969px;
  //height: 100vh;
  margin: 0 auto;
}

.container2 {
  height: fit-content;
  max-height: 870px;
  padding: 56px 56px 0 56px;
}

.container3 {
  width: 100%;
  max-width: 498px;
  height: fit-content;
}

.input_wrapper {
  display: flex;
  width: 100%;
  max-width: 585px;
  height: 48px;
  border-radius:  16px;
  background-color: v.$color4;
}

.input {
  margin-left: 16px;
  outline: none;
  background-color: v.$color0;
}

.image_wrapper {
  display: flex;
  align-items: center;
}

.column1 {
  width: 27.43%;
}

.column2 {
  width: 17.54%;
}

.column3 {
  width: 16.37%;
}

.column4 {
  width: 15.9%;
}

.column5 {
  //width: 20.17%;
  width: 16.9%;
}

.modal-area {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
  z-index: 1;
  background-color: rgba($color: v.$color5, $alpha: .7);
}

.modal-message {
  position: relative;
  width: fit-content;
  max-width: 498px;
  height: fit-content;
  margin: 0 20px;
  padding: 25px;
  border-radius: 16px;
  background-color: v.$color3;
}

.loading {
  width: 50px;
  height: 50px;
  animation-name: loading-animation;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-iteration-count: infinite;
}

.interactiv {
  cursor: pointer;
}