@use '../../assets/styles/variables.scss' as v;
@import url('../../assets/styles/normalize.scss');

.main {
  display: flex;
  height: 90.1%;
  background-color: v.$color3;
}

.imgSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  overflow-x: hidden;
  background-color: v.$color2;
}

.poster {
  width: 699px;
  height: 678px;
}

.authSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  padding-top: 7.3%;
}

.mainLogo {
  width: 165px;
  height: 161px;
  margin-bottom: 10%;
}

.text {
  text-align: center;
}

.textMarked {
  color: v.$color6;
}

.footer {
  height: 9.9%;
  background-color: v.$color1;
}

.footerLogo {
  width: 59px;
  height: 58px;
  margin-left: 30px;
  margin-top: 16px;
}

.modalArea {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
  z-index: 1;
  background-color: rgba($color: v.$color5, $alpha: .7);
  &_hidden {
    @extend .modalArea;
    visibility: hidden;
    opacity: 0;
  }
}

.message {
  position: relative;
  width: fit-content;
  max-width: 498px;
  height: fit-content;
  margin: 0 20px;
  padding: 25px;
  border-radius: 16px;
  background-color: v.$color3;
}

@media (max-width: 949px) {
  .container {
    height: 100vh;
    min-height: 620px;
  }
  
  .imgSection {
    display: none;
  }

  .mainLogo {
    width: 96px;
    height: 93px;
    margin-bottom: 72px;
  }

  .authSection {
    width: 100%;
    padding-top: 48px;
  }

  .footerLogo {
    display: none;
  }
}