@import url('../../assets/styles/normalize.scss');

.NewClaim__title {
  margin-left: 64px;
  margin-bottom: 48px;
}

.NewClaim__input {
  max-width: 589px;
  height: 105px;
  margin-left: 64px;
  margin-bottom: 8px;
}

.NewClaim__buttons {
  display: flex;
  gap: 24px;
  width: fit-content;
  margin-left: 64px;
}

.NewClaim__button {
  width: 82px;
  height: 48px;
}