@use '../../assets/styles/variables.scss' as v;
@import url('../../assets/styles/normalize.scss');

.barWrapper {
  display: flex;
  justify-content: end;
  width: 100%;
  height: 32px;
}

.bar {
  display: flex;
  gap: 8px;
  width: fit-content;
  height: 100%;
}

.item1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}

.item {
  @extend .item1;
  border: solid 1px v.$color21;
  cursor: pointer;
  transition: v.$transition;
  &:hover {
    background-color: v.$color21;
  }
}

.pointer {
  border-color: v.$color1;
  color: v.$color1;
  transition: v.$transition;
  &:hover {
    color: v.$color3;
    background-color: v.$color1;
  }
}

@media (max-width: 799px) {
  .barWrapper {
    justify-content: center;
    margin-bottom: 28px;
  }
}

@media (max-width: 399px) {
  .bar {
    gap: 4px;
  }
  
  .item1 {
    width: 25px;
    height: 25px;
  }
}