@use '../../assets/styles/variables.scss' as v;
@import url('../../assets/styles/normalize.scss');

.Pager__bar_wrapper {
  display: flex;
  justify-content: end;
  width: 100%;
  height: 32px;
}

.Pager__bar {
  display: flex;
  gap: 8px;
  //width: fit-content;
  width: fit-content;
  height: 100%;
}

.Pager__item1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}

.Pager__item {
  @extend .Pager__item1;
  border: solid 1px v.$color21;
  cursor: pointer;
  transition: v.$transition;
  &:hover {
    background-color: v.$color21;
  }
}

.Pager__pointer {
  border-color: v.$color1;
  color: v.$color1;
  transition: v.$transition;
  &:hover {
    color: v.$color3;
    background-color: v.$color1;
  }
}

@media (max-width: 799px) {
  .Pager__bar_wrapper {
    justify-content: center;
    margin-bottom: 28px;
  }
}